
.show-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 40% 50%;
  margin: 100px 50px;
  grid-template-areas: "photo details"
                       "participants"
                       "weather  map";
}

.trip-info-container{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding: 0px 30px;
}

.trip-image-container{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  align-items: left;
}

.trip-show-participants{
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  text-align: center;
  padding: 10px 0px;
}

.trip-info-show{
  align-items: left;
  justify-content: space-between;
}

.trip-image-show {
  grid-area: photo;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.trip-show-user-participants {
  a {
    color: #77787d;
  }

  a:hover{
    color: #278f75 ;
  }

}

.trip-buddy-show {
  a {
    color: #77787d;
  }

  a:hover{
    color: #278f75 ;
  }

}

#map {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.btn-show {
  width: 400px;
}
/* WEATHER*/

.weather-box {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  height: 100%;
  align-items: center;
  text-align: center;
}

 #text{
  width: 300px;
  height:32px;
 }

