<div class="card">
  <% if trip.photo.present? %>
    <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path trip.photo %>)">
      <h3><%= trip.title %></h3>
    </div>
  <% else %>
    <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('city-images/lisbon.jpg') %>)">
      <h3><%= trip.title %></h3>
    </div>
  <% end %>
</div>
