<h1>all the trips that I have</h1>

<h2>I organised these trips</h2>
<ul>
  <% @o_trips.each do |o_trip| %>
    <li><%= link_to o_trip.title, trip_path(o_trip) %></li>
  <% end %>
</ul>

<h2>I joined these trips</h2>
<ul>
  <% @p_trips.each do |p_trip| %>
    <li><%= link_to p_trip.title, trip_path(p_trip) %></li>
  <% end %>
</ul>
