<div class="banner">
  <div>
    <h1>Travel Buddy</h1>
    <p>Get a buddy for your next adventure</p>
    <%= link_to "Start your trip", new_trip_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
