<div class="banner">
  <div>
    <h1>Travel Buddy</h1>
    <p>Our tag lineOur tag lineOur tag lineOur tag line</p>
    <%= link_to "Start your trip", new_trip_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
